.App {
  text-align: center;
  background-color: #A0C49D;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* my own things */

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3C6255;
  color: white;
  padding: 20px;
  text-align: center;

}

.Title {
  font-size: 2em;
  font-weight: bold;
  color: #3C6255;
  background-color: #61876E;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #61876E;
}

.home-button{
  width: fit-content;
  background-color: #F7FFE5;
  color: #61876E;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  height: fit-content;
  padding: 0.5rem;
}

.home-button h1{
  padding-inline: 2rem;
}

.home{
  color: #F7FFE5;
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;


  overflow: scroll;
}

.scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title-description {
  font-size: 1.5em;
  color: #B9EED1;
}

.description {
  font-size: 1em;
  color: #F7FFE5;

}