.home-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-top-bar-button{
    color: #F7FFE5;
}

.home-progress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F7FFE5;
}

.home-progress-bar{
    width: 80%;
    height: 2rem;
    background-color: #F7FFE5;
    border-radius: 5rem;
}

.home-progress-count{
    display: flex;
    justify-content: space-between;
    gap: 12rem;
    color: #F9D5E2;
}